// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellow: #FFC65A;

$gold: #AC9E74;
$green: #325557;
$pink: #D9C0B9;
