<div class="banner">
  <h1 id="title">COCKTAILS</h1>

  <div class="form-new-cocktail">
    <%= render 'form' %>
  </div>
</div>
<div class="container">
  <div class="grid">
      <% @cocktails.each do |drink| %>
        <div class="card">
          <p><%= link_to drink.name, cocktail_path(drink.id) %></p>
        </div>
      <% end %>
  </div>
</div>
