<div class="banner">
    <h1 id="title">COCKTAILS</h1>
    <div class="form-new-cocktail flex">
      <%= render 'form' %>
      <% if @change_mind %>
      <%= link_to "...nevermind", cocktails_path, id: "btn-nvm" %>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="grid">
      <% @cocktails.reverse.each do |drink| %>
        <%= link_to cocktail_path(drink.id) do %>
          <div class="card">
            <p><%= drink.name %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
