.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

#btn-nvm {
  display: inline-block;
  margin-left: $spacer;
  color: $gold;
  &:hover {
    text-decoration: none;
    color: rgba(172, 158, 116, .5)
  }
}


a .card {
  &:hover {
    box-shadow: 2px 4px 15px $gold;
    text-shadow: 1px 1px 3px $gold;
  }
}
