body {
  background-color: $green;
}
h1, p {
  color: $gold;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.banner-content {
  // width:
}

#title {
  font-size: 96px;
  letter-spacing: 16px;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 0 4px 48px white;
  margin-left: 27%;
}

a:hover {
  text-decoration: none;
}
