@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.dose-info {
  margin: ($spacer * 2) auto;
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
  p {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    color: black;
    text-shadow: 2px, 2px, 4px white;
  }
  i {
    color: $gold;
  }
}

.all-ingredients {
  border-radius: 4px;
  margin-top: 16px;
  background-color: rgba(255,255,255, .7);
  min-height: 55vh;

}

.drink-display {
  padding: 64px;
}

.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  a.btn {
    align-items: left;
  }
}
