@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.dose-info {
  margin: ($spacer * 2) auto;
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
  p {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    color: black;
  }
  i {
    color: $gold;
  }
}

.banner {
  h1 {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

.all-ingredients {
  background-color: white;
}
