@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.dose-info {
  margin: ($spacer * 2) auto;
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
  p {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    color: black;
    text-shadow: 2px, 2px, 4px white;
  }
  i {
    color: $gold;
  }
}

.all-ingredients {

}

.drink-display {

}
