.banner {
  background-size: cover;
  background-position: center;
  background: transparent;
  padding: 112px 0;
}

#title {
  font-size: 96px;
  letter-spacing: 16px;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 0 4px 48px white;
  margin-left: 27%;
  margin-bottom: 0;
}
