.new-cocktail {
  margin-left: 27%;
  form {
    input {
      margin: 8px;
    }
  }
}

.invalid-feedback {
  display: none !important;
}


.all-ingredients
form {
  padding: 0 150px;
  input {
    margin: $spacer ($spacer * 5);
  }
}


.submit {
  background-color: $gold;
  padding: ($spacer*1.5);
  border-radius: ($spacer*1.5);
  border: none;
  color: white;
  font-weight: bold;
  font-size: ($spacer*2);
  letter-spacing: 1px;
  box-shadow: 1px 2px 16px $gold;
}

.input {
  background-color: transparent;
  border: none;
  font-size: ($spacer*2);
  padding: $spacer;
  border-radius: ($spacer*1.5);
  color: $gold;
  &:active, &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $gold;
    background-color: transparent;
    border: none;
    font-size: ($spacer*3);
    padding: ($spacer*1.5);
    border-radius: ($spacer*1.5);
    color: $gold;
  }
}

