.form-new-cocktail {
  width: 600px;
  margin-left: 27%;
  // border: 1px solid red;
}

.form-new-ingredient {
  // width: 800px;
}

form {
  // border: 1px solid red;
}

input {
  margin: $spacer;
}

.submit {
  background-color: $gold;
  padding: ($spacer*1.5);
  border-radius: ($spacer*1.5);
  border: none;
  color: white;
  font-weight: bold;
  font-size: ($spacer*2);
  letter-spacing: 1px;
  box-shadow: 1px 2px 16px $gold;
}

.input {
  background-color: $green;
  border: none;
  font-size: ($spacer*3);
  padding: ($spacer*1.5);
  border-radius: ($spacer*1.5);
  color: $gold;
  &:active, &:focus {
    background-color: $green;
    border: none;
    font-size: ($spacer*3);
    padding: ($spacer*1.5);
    border-radius: ($spacer*1.5);
    color: $gold;
  }
}

